@model IEnumerable<user_adminlogin.Models.Package>

@{
    ViewData["Title"] = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-white">@ViewData["Title"]</h2>

    <a asp-controller="AdminPackage" asp-action="AddPackage" class="btn btn-primary">Add Package</a>

    <table class="table">
        <thead>
            <tr class="text-white">
                <th>Flight_ID</th>
                <th>Package Details</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var package in Model)
            {
                <tr class="text-white">
                    <td>@package.FlightId</td>
                    <td>@package.Package_details</td>
                    <td>$@package.Price</td>
                    <td>
                        <a asp-controller="AdminPackage" asp-action="UpdatePackage" asp-route-id="@package.Id" class="btn btn-warning">Update</a> 
                        <a asp-controller="AdminPackage" asp-action="DeletePackage" asp-route-id="@package.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
