@model List<Flight>  
@{
    ViewData["Title"] = "My Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-white">@ViewData["Title"]</h2>
    <table class="table">
        <thead>
            <tr class="text-white">
                <th>Flight Name</th>
                <th>Departure</th>
                <th>Destenation</th>
                <th>Date</th>
                <th>Departure_time</th>
                <th>Arrival_time</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr class="text-white">

                    <td>@flight.Id - @flight.flight_Name</td>
                    <td>@flight.Departure</td>
                    <td>@flight.Destenation</td>
                    <td>@flight.flight_date</td>
                    <td>@flight.Departure_time</td>
                    <td>@flight.Arrival_time</td>
                    <td>
                        <a asp-controller="Booktrip" asp-action="cancelFlight" asp-route-id="@flight.Id" class="btn btn-warning" >Cancel Flight</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
